<odoo>
    <data>
        <!-- Define the menu item for the new app -->
        <menuitem id="menu_ai_app"
                  name="ASK AI"
                  web_icon="teos_ai_document_finder,static/description/icon.png"
                  sequence="0"/>
        <!-- Define the action to open the form view -->
        <record id="action_ai_app" model="ir.actions.act_window">
            <field name="name">AI App</field>
            <field name="res_model">ai.app</field>
            <field name="view_mode">tree,form</field>
            <field name="target">current</field>
        </record>

        <!-- Associate the menu item with the action -->
        <menuitem id="menu_ai_app_action" name="Ask Question" parent="menu_ai_app" action="action_ai_app" sequence="1"/>
    </data>
</odoo>

